.custom-navbar {
    background-color: #0e4102; /* Custom color */
    color: white; /* Adjust text color */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .custom-navbar .nav-link {
    color: white;
  }
  .custom-navbar .nav-link:hover {
    color: #ffc107; /* Hover color */
  }

