<nav class="navbar navbar-expand-lg custom-navbar">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="mynavbar">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/states">STATES</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contact">CONTACT</a>
          </li>
        </ul>
        <form class="d-flex">
            <img src="https://upload.wikimedia.org/wikipedia/en/thumb/4/41/Flag_of_India.svg/1200px-Flag_of_India.svg.png?20240827082344" alt="" height="30px" class="me-sm-2" style="border-radius: 25px;">
            
        </form>
      </div>
    </div>
</nav>
