/* body{
    background-color: #000000;
} */
.carousel-caption{
    text-align: left;
}

.carousel-caption h3{
    font-size: 150px;
    font-weight: bolder;
    font-family: "Montserrat", sans-serif;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 8px #000000;
}

.carousel-caption p{
    font-size: 20px;
    font-weight: bolder;
    font-family: "Montserrat", sans-serif;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 8px #000000;
}

.about{
    margin: 20px;
    padding: 0px 60px;
}

.about h1{
    font-size: 90px;
    font-weight: bolder;
    font-family: "Montserrat", sans-serif;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 8px #000000;
    text-align: left;
}

.about p{
    font-size: 20px;
    /* font-weight: bolder; */
    font-family: "Montserrat", sans-serif;
    color: rgb(103, 103, 103);
    width: 95%;
    text-align: left;
}

.containers{
    margin: 20px auto;
}

.containers h1{
    font-size: 50px;
    font-weight: bolder;
    font-family: "Montserrat", sans-serif;
    color: rgb(255, 67, 67);
    text-align: center;
}

.btn-primary{
    background-color: rgb(255, 67, 67);
    border: none;
    border-radius: 20px;
}

.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for scale and shadow */
  }
  
  .card:hover {
    transform: scale(1.05); /* Slightly scale up the card */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Add a shadow on hover */
  }